body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex-col {
  display: flex !important;
  flex-flow: column;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.app-sidebar {
  padding-top: 8rem;
  padding-left: 4rem;
}

.app-content {
  padding-right: 4rem;
  padding-left: 6rem;
  max-width: 1000px;
}

.MR1 {
  margin-right: 1em;
}
.ML1 {
  margin-left: 1em;
}
.MB1 {
  margin-bottom: 1em;
}
.MT1 {
  margin-top: 1em;
}

.PR1 {
  padding-right: 1em;
}
.PL1 {
  padding-left: 1em;
}
.PB1 {
  padding-bottom: 1em;
}
.PT1 {
  padding-top: 1em;
}

.W100 {
  width: 100%;
}
