.flex-col {
  display: flex !important;
  flex-flow: column;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

body {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

aside {
  padding: 8rem 0 0 4rem;
}

main {
  padding: 0 4rem 0 6rem;
  max-width: 1000px;
  width: 70%;
}
