{{ partial "doctype.html" . }}

<head>
    <title>{{ .Site.Title }} - {{ .Title  }}</title>
    {{ partial "meta.html" . }}
    {{ partial "opengraph.html" }}
    {{ partial "header.includes.html" . }}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149460214-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-149460214-1');
    </script>

</head>