{{ partial "header.html" . }}

<body>
    <div id="app-body">
        {{ partial "brand.html" . }}
        <main class="app-content">
            <div id="layout" class="pure-g">
                <article class="pure-u-1">
                    {{ range first 5 .Site.RegularPages }}
                    {{ partial "content.header.html" . }}
                    <p>{{ .Summary }}</p>
                    <p><a href="{{ .RelPermalink  }}">Read On &rarr;</a></p>
                    {{ end  }}
                    {{ partial "footer.html" . }}
                </article>
            </div>
        </main>
    </div>
</body>

</html>